@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    @apply text-7xl font-semibold leading-snug;
  }
  h3 {
    @apply text-5xl leading-loose font-semibold leading-relaxed;
  }
  p {
    @apply text-grey leading-relaxed;
  }
}

@layer components {
  .btn {
    @apply px-8 py-4 text-black font-medium text-lg rounded-lg bg-red-100;
  }
}

@layer utilities {
}

.discount-gradient {
  background: linear-gradient(125deg, #272727 0%, #11101d 100%);
}

.black-gradient {
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.icon-bg {
  background-color: #09977c1a;
}

.btn {
  background: linear-gradient(
    158deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.feedback-card:hover,
.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.text-gradient {
  background: radial-gradient(
    64.33% 64.33% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-gradient {
  background: linear-gradient(
    158deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.try-out-bg {
  background: linear-gradient(
    144deg,
    #fff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(5px);
}

.border {
  border-width: 0;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
